body{
    
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.coffeecat{
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.header{
    text-align: center;
    font-size: 30px;
    font-family: 'courier new', monospace;
    flex-direction: column;
    color: #A87F32; /* Brown color for the header */
}